<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40" style="margin-top: 5.6rem">
  <div class="container-fluid" style="width: 97%">
    <div class="body-content">
      <div class="row pt-5">
        <%- include('../sidebar.ejs') %>
        <div class="col-md-10">
          <div class="dash-right">
            <div class="dash-header">
              <div class="dash-title">
                <h1>Blogs</h1>
              </div>
              <div class="dash-nav">
                <button
                  type="button"
                  class="btn btn-primary bg-warning text-black border-0"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  style="color: black; font-weight: 500"
                >
                  Add Blog
                </button>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <tr>
                <th>#ID</th>
                <th>User ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
              </tr>

              <% i=1 %> <% d.forEach((item)=>{ %>
              <tr>
                <td><%= i++ %></td>
                <td><%= item._id %></td>
                <td><%= item.title.slice(0,20) %></td>
                <td><%= item.description.slice(0,50) %></td>
                <td class="text-center">
                  <img
                    src="<%= item.image.url %>"
                    width="50px;"
                    alt=""
                    style="height: 2.1rem"
                  />
                </td>
                <td
                  class="d-flex align-content-center justify-content-around border-0"
                  style="width: 100%"
                >
                  <a
                    href="/blogview/<%= item._id %>"
                    class="btn btn-secondary btn-sm"
                    >view</a
                  >

                  <a
                    href="/blogedit/<%= item._id %>"
                    class="btn btn-warning btn-sm"
                    >Edit</a
                  >

                  <a
                    href="/blogdelete/<%= item._id %>"
                    class="btn btn-danger btn-sm"
                    >Delete</a
                  >
                </td>
              </tr>

              <% }) %>
              <tr>
                <th>#ID</th>
                <th>User ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form action="/insertblog" method="post" enctype="multipart/form-data">
          <div class="md-3">
            <label for="">Title</label>
            <input type="text" name="title" class="form-control" required />
          </div>

          <div class="md-3">
            <label for="">Description</label>
            <textarea
              type="text"
              name="description"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="md-3">
            <label for="">Upload Image</label>
            <input type="file" name="image" class="form-control" required />
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button type="reset" class="btn btn-secondary me-2 bg-slate-500">
              Reset
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../../footer.ejs') %>
